{%- liquid
  assign enable_wishlist = settings.enable_wishlist
-%}

{%- if card_product and card_product != empty -%}
  <div
    class="card-product__group-wrapper flex flex-column items-end"
    style="text-align: {{ content_alignment }};"
  >
    <div 
      class="card--block-group card-product__group flex flex-column z-3 spacing-style" 
      style="--gap-y: 1rem;--border_radius:{{ block.settings.border_radius }}px; {% render 'spacing-style', settings: block.settings, scale_min: 10 %}">
      {%- assign class_button = 'card-product__group-btn bor-none center cursor-pointer flex items-center justify-center relative leading-none' -%}
      {%- assign class_text = 'text whitespace-nowrap overflow-hidden pointer-events-none absolute-c-y z--1 opacity-0' -%}
      {%- assign class_text_inner = 'text-inner text-sm inline-block' -%}

      {% comment %} ------ Wishlist ------ {% endcomment %}
      {%- if enable_wishlist -%}
        {% render 'product-wishlist-button', card_product: card_product, class_button: class_button, class_text: class_text, class_text_inner: class_text_inner %}
      {%- endif -%}

      {% comment %} ------ Quick view ------ {% endcomment %}
      {%- if enable_quick_view -%}
        {% render 'quick-view-button', card_product: card_product, class_button: class_button, class_text: class_text, class_text_inner: class_text_inner %}
      {%- endif -%}

      {% comment %} ------ Compare ------ {% endcomment %}
      {%- if enable_compare -%}
        {% render 'product-compare-button', card_product: card_product, class_button: class_button, sectionId: section_id, class_text: class_text, class_text_inner: class_text_inner %}
      {%- endif -%}
    </div>
  </div>
{%- endif -%}