
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612221215133664219.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612221215133664219.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612221215133664219.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612221215133664219.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612221215133664219.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612221215133664219.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612221215133664219.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612221215133664219.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612221215133664219.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-612221215133664219.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-612221215133664219.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612221215133664219.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-612221215133664219.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-612221215133664219.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612221215133664219.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612221215133664219.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-612221215133664219.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-612221215133664219.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612221215133664219.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-612221215133664219.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-612221215133664219.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612221215133664219.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612221215133664219.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-612221215133664219.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-612221215133664219.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612221215133664219.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-612221215133664219.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-612221215133664219.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612221215133664219.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-612221215133664219.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-612221215133664219.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612221215133664219.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612221215133664219.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612221215133664219.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612221215133664219.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612221215133664219.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612221215133664219.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-612221215133664219.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612221215133664219.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612221215133664219.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612221215133664219.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612221215133664219.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612221215133664219.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612221215133664219.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612221215133664219.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-612221215133664219.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612221215133664219.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612221215133664219.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612221215133664219.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612221215133664219.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612221215133664219.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612221215133664219.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612221215133664219.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-612221215133664219.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612221215133664219.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612221215133664219.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612221215133664219.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612221215133664219.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612221215133664219.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612221215133664219.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612221215133664219.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612221215133664219.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612221215133664219.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-612221215133664219.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612221215133664219.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612221215133664219.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612221215133664219.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612221215133664219.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612221215133664219.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-612221215133664219.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612221215133664219.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612221215133664219 .focus-visible\:gp-shadow-none,.gps-612221215133664219 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-612221215133664219 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-612221215133664219 .gp-fixed{position:fixed}.gps-612221215133664219 .gp-absolute{position:absolute}.gps-612221215133664219 .gp-relative{position:relative}.gps-612221215133664219 .gp-inset-0{inset:0}.gps-612221215133664219 .gp-right-0{right:0}.gps-612221215133664219 .gp-top-0{top:0}.gps-612221215133664219 .gp-z-1{z-index:1}.gps-612221215133664219 .gp-z-50{z-index:50}.gps-612221215133664219 .gp-z-\[999999\]{z-index:999999}.gps-612221215133664219 .gp-block{display:block}.gps-612221215133664219 .gp-inline-block{display:inline-block}.gps-612221215133664219 .gp-flex{display:flex}.gps-612221215133664219 .gp-inline-flex{display:inline-flex}.gps-612221215133664219 .\!gp-hidden{display:none!important}.gps-612221215133664219 .gp-hidden{display:none}.gps-612221215133664219 .gp-h-full{height:100%}.gps-612221215133664219 .gp-h-screen{height:100vh}.gps-612221215133664219 .\!gp-max-h-screen{max-height:100vh!important}.gps-612221215133664219 .gp-max-h-full{max-height:100%}.gps-612221215133664219 .gp-w-full{width:100%}.gps-612221215133664219 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-612221215133664219 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-612221215133664219 .gp-items-center{align-items:center}.gps-612221215133664219 .gp-justify-center{justify-content:center}.gps-612221215133664219 .gp-overflow-hidden{overflow:hidden}.gps-612221215133664219 .gp-overflow-y-auto{overflow-y:auto}.gps-612221215133664219 .gp-overflow-x-hidden{overflow-x:hidden}.gps-612221215133664219 .gp-bg-transparent{background-color:transparent}.gps-612221215133664219 .gp-align-middle{vertical-align:middle}.gps-612221215133664219 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-612221215133664219 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-612221215133664219 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612221215133664219 .gp-duration-100{transition-duration:.1s}.gps-612221215133664219 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-612221215133664219 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-612221215133664219 .tablet\:\!gp-hidden{display:none!important}.gps-612221215133664219 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612221215133664219 .mobile\:\!gp-hidden{display:none!important}.gps-612221215133664219 .mobile\:gp-hidden{display:none}}.gps-612221215133664219 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-612221215133664219 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adamina/v22/j8_r6-DH1bjoc-dwu-o.ttf) format('truetype');
}
</style>
  
    
    
    <gp-dialog
      data-id="g65VF7uyqW"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"g65VF7uyqW","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="T&C"
        data-gp-dialog-id="g65VF7uyqW"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#151515;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--d:block;--d-mobile:block;--d-tablet:block;--w:1200px;--w-tablet:1200px;--w-mobile:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:40px;--h:40px;--c:#650005;--bgc:RGBA(18, 18, 18, 0);--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px"
            >
              <span style="--height-icon:20px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg height="20" width="20" data-name="x-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
        <path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z"/>
      </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--minh:300px;--h-tablet:300px;--h-mobile:300px;border-radius:inherit;--bgc:var(--g-c-bg-1);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGJFQxV2us"
        class="gGJFQxV2us"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:24px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGJFQxV2us_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gchaZBRRvw"
        class="gchaZBRRvw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggchaZBRRvw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-612221215133664219 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612221215066555355&sectionId=612221215133664219)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGJFQxV2us_text","label":"ggGJFQxV2us_text","default":"Korean Skincare | The Devil Wears Prada Hunt: Terms &amp; Conditions"},{"type":"html","id":"ggchaZBRRvw_text","label":"ggchaZBRRvw_text","default":"<p><u>1. General Information</u><br>The Hunt is only available on the following Korean Skincare online stores:</p><ul><li>koreanskincare.com</li><li>koreanskincare.nl</li><li>korean-skincare.de</li><li>koreanskincare.co.uk</li><li>korean-skincare.fr</li></ul><p>A limited number of discount codes are available for redemption. Find the discount codes hidden on the online Korean Skincare store from <strong>Wednesday, April 15, 2026 (17:00 – 20:00 BST)</strong> and redeem them to get <strong>10%, 15%, 20%, 25%, 30%, or 50% off</strong> a new order.<br><br><u>2. How to Redeem a Discount Code</u><br>To use a discount code, follow these steps:</p><ol><li>Visit one of the Korean Skincare online stores listed above.&nbsp;</li><li>Add item(s) to your shopping basket.&nbsp;</li><li>Proceed to checkout.&nbsp;</li><li>Enter the discount code in the designated box and click ‘Apply.’&nbsp;</li><li>Complete the payment for your order.</li></ol><p><u>3. Discount Code Conditions</u></p><ol><li>Discount codes are subject to availability and must be redeemed on an order placed on the online Korean Skincare store where the code was found between <strong>Wednesday, April 15, 2026 (17:00 – 20:00 BST)</strong>.</li><li>Only one discount code can be applied per order.</li><li>A maximum <strong>order value of 435 Pound sterling</strong> applies. Orders exceeding these limits will be cancelled.</li><li>Discount codes <strong>cannot be combined</strong> with any other voucher, promotional, or discount codes.</li><li>Discount codes are <strong>not available</strong> for Korean Skincare staff or employees of its group companies.</li><li>Discount codes <strong>do not apply to KS Gift Cards</strong>.</li><li>Discount codes <strong>do not apply to delivery charges</strong>. Please check the delivery terms and conditions online.</li><li>Orders and free gifts are subject to stock availability. No cash alternative is offered.</li><li>By redeeming a discount code, you agree to be bound by Korean Skincare's <strong>Terms and Conditions of Sale</strong>.</li><li>Refunds will reflect the discount applied. The discount will be proportionally spread across the items purchased and will not apply to any replacements.</li><li>Korean Skincare reserves the right to <strong>decline orders</strong> if a discount code is deemed invalid or linked to fraudulent activity.</li><li>Korean Skincare reserves the right to <strong>change these Terms and Conditions</strong> or withdraw the promotion at any time with reasonable notice.</li><li>The laws of the Netherlands govern these terms and conditions.</li></ol><p><u>4. Discount Code Availability</u></p><ul><li><strong>10% discount</strong> = 600 redemptions available</li><li><strong>15% discount</strong> = 500 redemptions available</li><li><strong>20% discount</strong> = 400 redemptions available</li><li><strong>25% discount</strong> = 100 redemptions available</li><li><strong>30% discount</strong> = 30 redemptions available</li><li><strong>50% discount</strong> = 3 redemptions available (one 50% code available every hour)</li></ul><p>Breakdown of Code Usage:</p><ul><li><strong>10% Discount:</strong> 10 different codes, each usable 60 times</li><li><strong>15% Discount:</strong> 10 different codes, each usable 50 times</li><li><strong>20% Discount:</strong> 10 different codes, each usable 40 times</li><li><strong>25% Discount:</strong> 5 different codes, each usable 20 times</li><li><strong>30% Discount: </strong>5 different codes, each usable 6 times</li><li><strong>50% Discount:</strong> 3 different codes, each usable 1 time, (one 50% code available every hour)</li></ul><p><u>5. The KS Gift Card (Golden Envelope)</u></p><ul><li>The KS Gift Card is worth 85 Pound sterling and is valid for six months from April 15, 2025, to October 15, 2026.</li><li>The KS Gift Card can be used only once.</li></ul><p>For any questions regarding the Hunt Event, please refer to our Customer Service team. Happy hunting!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}