
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555231466200499300.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555231466200499300.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555231466200499300.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555231466200499300.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555231466200499300.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555231466200499300.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555231466200499300.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555231466200499300.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555231466200499300.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-555231466200499300.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-555231466200499300.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555231466200499300.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-555231466200499300.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-555231466200499300.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555231466200499300.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555231466200499300.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-555231466200499300.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-555231466200499300.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555231466200499300.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-555231466200499300.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-555231466200499300.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555231466200499300.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555231466200499300.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-555231466200499300.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-555231466200499300.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555231466200499300.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-555231466200499300.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-555231466200499300.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555231466200499300.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-555231466200499300.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-555231466200499300.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555231466200499300.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555231466200499300.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555231466200499300.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555231466200499300.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555231466200499300.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555231466200499300.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555231466200499300.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555231466200499300.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555231466200499300.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555231466200499300.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-555231466200499300.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-555231466200499300.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555231466200499300.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555231466200499300.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-555231466200499300.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-555231466200499300.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-555231466200499300.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-555231466200499300.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555231466200499300.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555231466200499300.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555231466200499300.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555231466200499300.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555231466200499300.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555231466200499300.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555231466200499300.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-555231466200499300.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555231466200499300.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-555231466200499300.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555231466200499300.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555231466200499300.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555231466200499300.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555231466200499300.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555231466200499300.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-555231466200499300.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-555231466200499300.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-555231466200499300.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-555231466200499300.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-555231466200499300.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555231466200499300.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555231466200499300.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-555231466200499300.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-555231466200499300.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555231466200499300.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555231466200499300.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-555231466200499300.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-555231466200499300.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-555231466200499300.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-555231466200499300.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555231466200499300.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555231466200499300.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555231466200499300.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-555231466200499300.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-555231466200499300.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-555231466200499300.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555231466200499300.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555231466200499300.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555231466200499300.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555231466200499300.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-555231466200499300.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555231466200499300.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555231466200499300 .focus-visible\:gp-shadow-none,.gps-555231466200499300 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-555231466200499300 .gp-fixed{position:fixed}.gps-555231466200499300 .gp-absolute{position:absolute}.gps-555231466200499300 .gp-relative{position:relative}.gps-555231466200499300 .gp-inset-0{inset:0}.gps-555231466200499300 .gp-right-0{right:0}.gps-555231466200499300 .gp-top-0{top:0}.gps-555231466200499300 .gp-z-1{z-index:1}.gps-555231466200499300 .gp-z-50{z-index:50}.gps-555231466200499300 .gp-z-\[999999\]{z-index:999999}.gps-555231466200499300 .gp-block{display:block}.gps-555231466200499300 .gp-inline-block{display:inline-block}.gps-555231466200499300 .gp-flex{display:flex}.gps-555231466200499300 .gp-inline-flex{display:inline-flex}.gps-555231466200499300 .\!gp-hidden{display:none!important}.gps-555231466200499300 .gp-hidden{display:none}.gps-555231466200499300 .gp-h-full{height:100%}.gps-555231466200499300 .gp-h-screen{height:100vh}.gps-555231466200499300 .\!gp-max-h-screen{max-height:100vh!important}.gps-555231466200499300 .gp-max-h-full{max-height:100%}.gps-555231466200499300 .gp-w-full{width:100%}.gps-555231466200499300 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-555231466200499300 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-555231466200499300 .gp-items-center{align-items:center}.gps-555231466200499300 .gp-justify-center{justify-content:center}.gps-555231466200499300 .gp-overflow-hidden{overflow:hidden}.gps-555231466200499300 .gp-overflow-y-auto{overflow-y:auto}.gps-555231466200499300 .gp-overflow-x-hidden{overflow-x:hidden}.gps-555231466200499300 .gp-bg-transparent{background-color:transparent}.gps-555231466200499300 .gp-align-middle{vertical-align:middle}.gps-555231466200499300 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-555231466200499300 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-555231466200499300 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555231466200499300 .gp-duration-100{transition-duration:.1s}.gps-555231466200499300 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-555231466200499300 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-555231466200499300 .tablet\:\!gp-hidden{display:none!important}.gps-555231466200499300 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555231466200499300 .mobile\:\!gp-hidden{display:none!important}.gps-555231466200499300 .mobile\:gp-hidden{display:none}}.gps-555231466200499300 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-555231466200499300 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/adamina/v22/j8_r6-DH1bjoc-dwu-o.ttf) format('truetype');
}
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/angkor/v35/H4cmBXyAlsPdnlb-8g.ttf) format('truetype');
}


@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzeldecorative/v19/daaHSScvJGqLYhG8nNt8KPPswUAPniZoaelD.ttf) format('truetype');
}
</style>
  
    
    
    <gp-dialog
      data-id="gVzAluKn6G"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gVzAluKn6G","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"every","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Terms & Conditions"
        data-gp-dialog-id="gVzAluKn6G"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#3a1c19;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--mt:50px;--ml:20px;--mb:20px;--mr:20px;--mt-mobile:200px;--ml-mobile:20px;--mb-mobile:100px;--mr-mobile:20px;--mt-tablet:50px;--ml-tablet:20px;--mb-tablet:20px;--mr-tablet:20px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:5px;--bbrr-mobile:5px;--btlr-mobile:5px;--btrr-mobile:5px;--d:block;--d-mobile:block;--d-tablet:block;--w:1200px;--w-tablet:1200px;--w-mobile:100%;--minh:300px"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:40px;--h:40px;--c:#3a1c19;--bgc:#ffffff;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px"
            >
              <span style="--height-icon:20px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg viewBox="0 0 12 12" fill="currentColor" style={svgContentStyle}>
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--shadow:none;--op:100%;--pageType:GP_STATIC;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--pt-tablet:50px;--pl-tablet:50px;--pb-tablet:50px;--pr-tablet:50px;--minh:300px;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5NIehPUZF"
        class="g5NIehPUZF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Cinzel-Decorative, 'Cinzel Decorative'), var(--g-font-heading, heading);--weight:700;--size:24px;--size-tablet:24px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5NIehPUZF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfNP0mWXe7"
        class="gfNP0mWXe7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfNP0mWXe7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-555231466200499300 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555231466183722084&sectionId=555231466200499300)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5NIehPUZF_text","label":"gg5NIehPUZF_text","default":"Korean Skincare Glow White Hunt: Terms &amp; Conditions"},{"type":"html","id":"ggfNP0mWXe7_text","label":"ggfNP0mWXe7_text","default":"<p><u>1. General Information</u></p><p>The Hunt is only available on the following Korean Skincare online stores:</p><ul><li>koreanskincare.com</li><li><a href=\"https://koreanskincare.nl/\">koreanskincare.nl</a></li><li>korean-skincare.de</li><li>koreanskincare.co.uk</li></ul><p>A limited number of discount codes are available for redemption. Find the discount code hidden on the online Korean Skincare store from <strong>Wednesday, March 26, 2025 (18:00 GMT until 20:00 GMT)</strong> and redeem it to get <strong>10%, 20%, 30%, or 50% off</strong> a new order! (T&amp;C apply, see below).</p><p>&nbsp;</p><p><u>2. How to Redeem a Discount Code</u></p><p>To use a discount code, follow these steps:</p><p>a. Visit one of the Korean Skincare online stores listed above.&nbsp;<br>b. Add item(s) to your shopping basket.&nbsp;<br>c. Proceed to checkout.&nbsp;<br>d. Enter the discount code in the designated box and click ‘Apply.’&nbsp;<br>e. Complete the payment for your order.</p><p>&nbsp;</p><p><u>3. Discount Code Conditions</u></p><ol><li>Discount codes are subject to availability and must be redeemed on an order placed on the online Korean Skincare store where the code was found between <strong>Wednesday, March 26, 2025 (18:00 GMT till 20:00 GMT).</strong></li><li>Only one discount code can be applied per order.</li><li>Codes are limited to one use per customer.</li><li>Maximum of <strong>20 items per order</strong> and a maximum <strong>order value of 330 Pounds Sterling</strong> apply. Orders exceeding these limits will be canceled.</li><li>Discount codes <strong>cannot be combined</strong> with any other voucher, promotional, or discount codes.</li><li>Discount codes are <strong>not available</strong> for Korean Skincare staff or employees of its group companies.</li><li>Discount codes do not apply to delivery charges. Please check delivery terms and conditions online.</li><li>Orders and free gifts are subject to stock availability. No cash alternative is offered.</li><li>By redeeming a discount code, you agree to be bound by Korean Skincare's <strong>Terms and Conditions of Sale.</strong></li><li>Refunds will reflect the discount applied. The discount will be proportionally spread across the items purchased and will not apply to any replacements.</li><li>Korean Skincare reserves the right to <strong>decline orders</strong> if a discount code is deemed invalid or linked to fraudulent activity.</li><li>Korean Skincare reserves the right to <strong>change these Terms and Conditions</strong> or withdraw the promotion at any time with reasonable notice.</li><li>These terms and conditions are governed by the laws of <strong>The Netherlands.</strong></li></ol><p><u>4. Discount Code Availability</u></p><ul><li><strong>10% discount</strong> = 495 redemptions available</li><li><strong>20% discount</strong> = 300 redemptions available</li><li><strong>30% discount</strong> = 60 redemptions available</li><li><strong>50% discount</strong> = 6 redemptions available</li></ul><p>Breakdown of Code Usage:</p><ul><li><strong>10% Discount</strong>: 15 different codes, each usable <strong>33 times</strong></li><li><strong>20% Discount</strong>: 10 different codes, each usable <strong>30 times</strong></li><li><strong>30% Discount</strong>: 5 different codes, each usable <strong>12 times</strong></li><li><strong>50% Discount</strong>: 2 different codes, each usable <strong>3 times</strong></li></ul><p><u>5. Apple Potion Codes</u></p><ul><li><strong>1 Apple Potion Code</strong> = <strong>1 free Melixir 'Vegan Lip Butter (Shade: #03 Red Velvet)'</strong></li><li><strong>10 codes available</strong>, each code is redeemable <strong>3 times</strong></li><li><strong>Apple Potion Codes cannot be combined</strong> with other discount codes.</li></ul><p><u>6. The KS Gift Card (Golden Envelope)</u></p><ol><li>The <strong>KS Gift Card</strong> is valid for <strong>six months</strong> from <strong>April 1, 2025 – September 30, 2025.</strong></li><li>The <strong>KS Gift Card can be used only once.</strong></li></ol><p><u>7. Free Gifts</u></p><ol><li>Free gifted products may <strong>differ </strong>depending on availability.</li><li>The Hunt free gifts don't apply to <strong>app purchases</strong>.</li></ol><p>For any questions regarding the Hunt Event, please refer to our Customer Service team. Happy hunting!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}