
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586560400313549330.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586560400313549330.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586560400313549330.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586560400313549330.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586560400313549330.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586560400313549330.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586560400313549330.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586560400313549330.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586560400313549330.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-586560400313549330.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-586560400313549330.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586560400313549330.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-586560400313549330.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-586560400313549330.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586560400313549330.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586560400313549330.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-586560400313549330.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-586560400313549330.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586560400313549330.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-586560400313549330.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-586560400313549330.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586560400313549330.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586560400313549330.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-586560400313549330.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-586560400313549330.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586560400313549330.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-586560400313549330.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-586560400313549330.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586560400313549330.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-586560400313549330.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-586560400313549330.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586560400313549330.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586560400313549330.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586560400313549330.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586560400313549330.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586560400313549330.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586560400313549330.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586560400313549330.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586560400313549330.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586560400313549330.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-586560400313549330.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-586560400313549330.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-586560400313549330.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-586560400313549330.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586560400313549330.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586560400313549330.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586560400313549330.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586560400313549330.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586560400313549330.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586560400313549330.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586560400313549330.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-586560400313549330.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586560400313549330.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586560400313549330.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586560400313549330.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586560400313549330.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586560400313549330.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586560400313549330.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-586560400313549330.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-586560400313549330.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-586560400313549330.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586560400313549330.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586560400313549330.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586560400313549330.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586560400313549330.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-586560400313549330.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586560400313549330.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586560400313549330.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-586560400313549330.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-586560400313549330.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-586560400313549330.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-586560400313549330.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586560400313549330.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586560400313549330.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-586560400313549330.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-586560400313549330.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-586560400313549330.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586560400313549330.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586560400313549330.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586560400313549330.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586560400313549330.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-586560400313549330.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586560400313549330.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586560400313549330 .focus-visible\:gp-shadow-none,.gps-586560400313549330 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-586560400313549330 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-586560400313549330 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-586560400313549330 .gp-fixed{position:fixed}.gps-586560400313549330 .gp-absolute{position:absolute}.gps-586560400313549330 .gp-relative{position:relative}.gps-586560400313549330 .gp-inset-0{inset:0}.gps-586560400313549330 .gp-right-0{right:0}.gps-586560400313549330 .gp-top-0{top:0}.gps-586560400313549330 .gp-z-1{z-index:1}.gps-586560400313549330 .gp-z-50{z-index:50}.gps-586560400313549330 .gp-z-\[999999\]{z-index:999999}.gps-586560400313549330 .gp-block{display:block}.gps-586560400313549330 .gp-inline-block{display:inline-block}.gps-586560400313549330 .gp-flex{display:flex}.gps-586560400313549330 .gp-inline-flex{display:inline-flex}.gps-586560400313549330 .\!gp-hidden{display:none!important}.gps-586560400313549330 .gp-hidden{display:none}.gps-586560400313549330 .gp-h-full{height:100%}.gps-586560400313549330 .gp-h-screen{height:100vh}.gps-586560400313549330 .\!gp-max-h-screen{max-height:100vh!important}.gps-586560400313549330 .gp-max-h-full{max-height:100%}.gps-586560400313549330 .gp-w-full{width:100%}.gps-586560400313549330 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-586560400313549330 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-586560400313549330 .gp-items-center{align-items:center}.gps-586560400313549330 .gp-justify-center{justify-content:center}.gps-586560400313549330 .gp-overflow-hidden{overflow:hidden}.gps-586560400313549330 .gp-overflow-y-auto{overflow-y:auto}.gps-586560400313549330 .gp-overflow-x-hidden{overflow-x:hidden}.gps-586560400313549330 .gp-bg-transparent{background-color:transparent}.gps-586560400313549330 .gp-align-middle{vertical-align:middle}.gps-586560400313549330 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-586560400313549330 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-586560400313549330 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586560400313549330 .gp-duration-100{transition-duration:.1s}.gps-586560400313549330 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-586560400313549330 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-586560400313549330 .tablet\:\!gp-hidden{display:none!important}.gps-586560400313549330 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-586560400313549330 .mobile\:\!gp-hidden{display:none!important}.gps-586560400313549330 .mobile\:gp-hidden{display:none}}.gps-586560400313549330 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-586560400313549330 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}</style>
    
    
    <gp-dialog
      data-id="gQdOJ0upx7"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gQdOJ0upx7","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"every","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Terms & Conditions"
        data-gp-dialog-id="gQdOJ0upx7"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--mt:50px;--ml:20px;--mb:20px;--mr:20px;--mt-mobile:200px;--ml-mobile:20px;--mb-mobile:100px;--mr-mobile:20px;--mt-tablet:50px;--ml-tablet:20px;--mb-tablet:20px;--mr-tablet:20px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--bblr-mobile:5px;--bbrr-mobile:5px;--btlr-mobile:5px;--btrr-mobile:5px;--d:block;--d-mobile:block;--d-tablet:block;--w:1200px;--w-tablet:1200px;--w-mobile:100%;--minh:300px;--h-tablet:Auto;--h-mobile:Auto"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:40px;--h:40px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px"
            >
              <span style="--height-icon:20px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg viewBox="0 0 12 12" fill="currentColor" style={svgContentStyle}>
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--shadow:none;--op:100%;--pageType:GP_STATIC;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:40px;--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--pt-tablet:50px;--pl-tablet:50px;--pb-tablet:50px;--pr-tablet:50px;--minh:300px;--h-tablet:Auto;--h-mobile:Auto;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMQKR0baBN"
        class="gMQKR0baBN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759477170226"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMQKR0baBN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g20UEDzLfu"
        class="g20UEDzLfu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759477170227"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg20UEDzLfu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-586560400313549330 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586560400296772114&sectionId=586560400313549330)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMQKR0baBN_text","label":"ggMQKR0baBN_text","default":"SOME BY MI Retinol Review Event: Terms &amp; Conditions"},{"type":"html","id":"gg20UEDzLfu_text","label":"gg20UEDzLfu_text","default":"<p>1. Only reviews submitted on the product pages for the SOME BY MI &nbsp;Retinol Intense Reactivating Serum and Retinol Intense Advanced Triple Action Eye Cream will be included.</p><p>2. Only orders placed between October 7 and November 4 will be included.</p><p>3. The KS order number (example: #KS-897274) must be included in the review.</p><p>4. The KS Team reserves the right to exclude reviews that do not meet the required standards.</p><p>5. Reviews submitted after Tuesday November 18, 22:59 GMT, will be excluded.</p><p>6. Once a review has been submitted and approved, the KS team will send your personal Beta Panthenol Repair Cream code via email by November 20.</p><p>7. One Beta Panthenol Repair Cream code will be issued per customer, not per review.</p><p>8. The Beta Panthenol Repair Cream are valid until December 31.</p><p>9. The Beta Panthenol Repair Cream code cannot be combined with other discount codes.</p><p>10. Do not apply if you live outside of Korean Skincare's shipping range (EU/UK).</p><p>11. The Beta Panthenol Repair Cream can only be obtained by placing a KS order.</p><p>12. The Beta Panthenol Repair Cream is non-refundable.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  